@{
    ViewData["Title"] = "Home Page of BT1";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BT1 Learn. Hello Dermot. We are doing loads of stuff.</h1>
    <h2 class="display-5">@ViewData["Title"]</h2>
    <p>
        <a asp-area="" asp-controller="Todos" asp-action="Index">View Todo List</a>
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
